@use "sass:math" as math;
@import "../../../variables.scss";
@import "../../../mixin.scss";
section {
  position: relative;
  background-color: $color-secondary;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logo__container {
  width: 100%;
  min-height: 6rem;
  height: 8rem;
  background-color: $color-secondary;
}

.logo {
  height: $logo-size-height;
  width: $logo-size-width;
}

.card {
  position: relative;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 2rem;
  padding-inline: 1.25rem;
  padding-block: 2rem;
}

.card__header {
  position: relative;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__headline {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}

.card__header-underline {
  margin-top: 1rem;
  height: 0.25rem;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    transparent 33%,
    $color-blue 33%,
    $color-blue 66%,
    transparent 66%
  );
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__description {
  text-align: center;
  font-size: 1.325rem;
}

.tf__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-block: 1rem;
}

.tf {
  height: 2.5rem;
  font-size: 1.25rem;
  padding-inline: 1.5rem;
  border-radius: 0.5rem;
  outline: none;
  width: 100%;
  border: 1px solid $color-grey;
}

.return {
  position: absolute;
  top: 0;
  left: 0;
}

.return__icon {
  @include icon;
  transition: transform 225ms ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: transform 225ms ease-in-out;
  }
}

.tf__icon {
  @include icon;
  position: absolute;
  right: math.div($icon-size, 2);
}

.button__container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
}

.footer {
  flex: 1 1 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.notification {
  @include btn;
}

.send__icon {
  width: $icon-size * 2;
  height: $icon-size * 2;
  margin-right: 1rem;
}

// toggle with ngIF boolean
.popup__container {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(0, -50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
  }
}
