@use "sass:math" as math;
@import "../../shared/styles/variables.scss";
@import "../../shared/styles/mixin.scss";
.header {
  background-color: $color-white;
  height: $header-size;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.75rem;
  box-shadow: 0 0 0.25rem 0.25rem $color-grey;
}

.logo {
  @include logo-size();
}

.logo__link {
  display: flex;
  text-decoration: none;
}

.user {
  position: relative;
  cursor: pointer;
}

.user__container {
  position: relative;
  z-index: 20;
  border-radius: 100%;
  border: 1px solid $color-primary;
}

.user__img {
  @include user-size();
  display: block;
  border-radius: 100%;
  object-fit: cover;
  object-position: center center;
}

.menu__container {
  position: absolute;
  top: #{0 + math.div($logo-size, 2)};
  right: #{0 + math.div($logo-size, 2)};
  width: max-content;
  padding: 0.5rem;
  background-color: $color-primary;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: 10;
}

.menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  // gap: 0rem;
}

.menu__list-item {
  padding: 0.5rem;
  &:hover {
    border-radius: 0.5rem;
    background-color: $color-primary-hover;
  }
}

.link {
  color: $color-grey;
  text-decoration: none;
}

.menu__list-item:hover .link {
  color: $color-secondary;
}
