@use "sass:math" as math;
@use "../../shared/styles/index" as *;

@media (hover: none) {
  :host {
    @include mobile-container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
  }

  .greet {
    text-align: center;
  }

  .greet__daytime {
    font-size: 2.25rem;
    color: $color-primary-hover;
  }

  .greet__user {
    font-size: 3rem;
    color: $color-blue;
  }
}
