@import "../../../shared/styles/variables.scss";
@import "../../../shared/styles/mixin.scss";
@media (hover: none) {
  :host {
    position: relative;
    @include mobile-container;
    flex: 1 0 auto;
    gap: 1rem;
  }

  // HEAD
  .head__section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 0 0 auto;
  }

  .return__btn {
    position: absolute;
    top: 0;
    right: 0;
    fill: $color-primary;
    cursor: pointer;
    &:hover {
      fill: $color-primary-hover;
    }
  }

  .head__title {
    font-size: 3rem;
    font-weight: 700;
  }

  .head__dash {
    height: 3px;
    background-image: linear-gradient(90deg, $color-blue 20%, transparent 20%);
  }

  .contact__container {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex: 0 1 auto;
  }

  .contact__tag {
    color: $color-white;
    border-radius: 100%;
    border: 0.25rem solid $color-white;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 0 0.25rem $color-primary;
  }

  .contact__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex: 0 1 auto;
  }

  .contact__fullname {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .contact__name {
    font-size: 2.25rem;
  }

  .contact__info {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .contact__headline {
    font-size: 1rem;
    font-weight: 700;
  }

  .contact__email {
    color: $color-blue;
  }

  .btn__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    flex: 1 1 auto;
  }

  .sign {
    padding: 0.5rem;
    color: $color-white;
    @include sign-size(2);
  }

  // toggle with ngIF boolean
  .popup__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding-inline: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.3);
    backdrop-filter: blur(0.25rem);
  }

  .popup {
    position: absolute;
    top: 50%;
    width: 80dvw;
    transform: translate(0, -50%);
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translate(0, -50%) scale(0);
    }
    100% {
      opacity: 1;
      transform: translate(0, -50%) scale(1);
    }
  }
}
