@import "../../../shared/styles/variables";
@import "../../../shared/styles/mixin";
:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 14rem;
  border-radius: 1.5rem;
  padding: 1rem;
  margin-block: 0.5rem;
  background-color: $color-white;
  box-shadow: 0.125rem 0.125rem 0.25rem $color-grey;
}

.task__body {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.task__category {
  height: 1.75rem;
  width: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0 0 0.125rem $color-grey;
  color: $color-white;
  border-radius: 0.5rem;
}

.bg {
  &--design {
    background-color: $category-design;
  }
  &--sales {
    background-color: $category-sales;
  }
  &--media {
    background-color: $category-media;
  }
  &--backoffice {
    background-color: $category-backoffice;
  }
  &--marketing {
    background-color: $category-marketing;
  }
}

.task__title {
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  color: $color-primary;
}

.task__description {
  text-align: left;
  color: $color-grey;
}

.task__footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task__tags {
  display: flex;
  flex-direction: row;
}

.task__tag {
  position: absolute;
  top: 0;
  @include sign-size(1.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  text-shadow: 0 0 0.25rem $color-primary-hover;
  box-shadow: 0 0 0.25rem $color-primary-hover;
  border-radius: 100%;
  transition: z-index 225ms ease-in-out;
  &:hover {
    transition: z-index 225ms ease-in-out;
    z-index: 10;
  }
}

.sign {
  @include sign-size(1.5);
  color: $color-white;
  padding: 0.25rem;
  border-radius: 100%;
  box-shadow: 0 0 0.25rem $color-primary-hover;
}

.low {
  background-color: $proi-low;
}

.medium {
  background-color: $prio-mid;
}

.high {
  background-color: $prio-high;
}
