<div class="container" cdkDropListGroup>
  <div
    class="todo-container drag-drop-list"
    cdkDropList
    [cdkDropListData]="todoItems"
    (cdkDropListDropped)="onDrop($event)"
  >
    <h3>ToDo</h3>
    <div *ngFor="let item of todoItems" cdkDrag>
      <!-- Placholder -->
      <div class="drop-placeholder" *cdkDragPlaceholder></div>
      <!-- ITEM -->
      <app-item [item]="item"></app-item>
    </div>
  </div>

  <div
    class="progress-container"
    cdkDropList
    [cdkDropListData]="progressItems"
    (cdkDropListDropped)="onDrop($event)"
  >
    <h3>Progress</h3>
    <div class="item" *ngFor="let item of progressItems" cdkDrag>
      <!-- Placholder -->
      <div class="drop-placeholder" *cdkDragPlaceholder></div>
      <!-- ITEM -->
      <app-item [item]="item"></app-item>
    </div>
  </div>

  <div
    class="await-container"
    cdkDropList
    [cdkDropListData]="awaitItems"
    (cdkDropListDropped)="onDrop($event)"
  >
    <h3>Await</h3>
    <div class="item" *ngFor="let item of awaitItems" cdkDrag>
      <!-- Placholder -->
      <div class="drop-placeholder" *cdkDragPlaceholder></div>
      <!-- ITEM -->
      <app-item [item]="item"></app-item>
    </div>
  </div>

  <div
    class="done-container"
    cdkDropList
    [cdkDropListData]="doneItems"
    (cdkDropListDropped)="onDrop($event)"
  >
    <h3>Done</h3>
    <div class="item" *ngFor="let item of doneItems" cdkDrag>
      <!-- Placholder -->
      <div class="drop-placeholder" *cdkDragPlaceholder></div>
      <!-- ITEM -->
      <app-item [item]="item"></app-item>
    </div>
  </div>
</div>
