@use "sass:math" as math;
@use "../shared/styles/index" as *;

@media (hover: hover) {
  :host {
    background-color: aliceblue;
  }
  .section {
    background-color: $color-secondary;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-block: 1.25rem;
    padding-inline: 1.75rem;
  }

  .logo__container {
    width: 100%;
    min-height: 6rem;
    height: 8rem;
    background-color: $color-secondary;
  }

  .logo {
    @include logo-size;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }

  .card {
    position: relative;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    min-width: 30rem;
    width: 35vw;
    height: 70dvh;
    min-height: 32.5rem;
    border-radius: 2rem;
    padding-inline: 1.25rem;
    padding-block: 2rem;
    margin: 0 auto;
  }

  .card__header {
    position: relative;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card__return-btn {
    position: absolute;
    top: 0;
    right: 0;
    fill: $color-primary;
  }

  .card__headline {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
  }

  .card__header-underline {
    margin-top: 1rem;
    height: 0.25rem;
    width: 100%;
    background-image: linear-gradient(
      90deg,
      transparent 33%,
      $color-blue 33%,
      $color-blue 66%,
      transparent 66%
    );
  }

  .card__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    color: $color-primary-hover;
  }
}
