<section class="head__section">
  <return-btn class="return-btn" routerLink="/join/summary"></return-btn>
  <p class="head__description">Kanban Project Management Tool</p>
  <h2 class="head__title">Legal Notice</h2>
  <div class="head__dash"></div>
</section>
<article class="article">
  <h2>Subtitle</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ad veniam,
    perferendis, blanditiis quia laborum aut adipisci ipsam qui dignissimos
    enim. Inventore, molestiae? Hic error similique vitae. Praesentium,
    doloribus consequuntur.
  </p>
</article>
<article class="article">
  <h2>Subtitle</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ad veniam,
    perferendis, blanditiis quia laborum aut adipisci ipsam qui dignissimos
    enim. Inventore, molestiae? Hic error similique vitae. Praesentium,
    doloribus consequuntur.
  </p>
</article>
