@use "sass:math" as math;
@import "../../shared/styles/variables.scss";
@import "../../shared/styles/mixin.scss";
:host {
  position: relative;
  @include mobile-container;
}

// HEAD
.head__section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 0;
}

.return-btn {
  position: absolute;
  top: 0;
  right: 0;
  fill: $color-primary;
}

.head__title {
  font-size: clamp(2rem, 15vw, 3rem);
  font-weight: 700;
}

.head__comment {
  font-size: clamp(1.1rem, 5vw, 1.3rem);
}

.head__dash {
  height: 3px;
  background-image: linear-gradient(90deg, $color-blue 20%, transparent 20%);
}

.article {
  margin-top: 1rem;
}
