@use "sass:math" as math;
@use "../../shared/styles/index" as *;

:host {
  // background-color: $color-grey;
  fill: $color-white;
}

.return {
  position: relative;
  cursor: pointer;
}

.return__icon {
  display: block;
  @include sign-size();
  transition: transform 225ms ease-in-out;
  &:hover {
    transform: scale(1.2);
    transition: transform 225ms ease-in-out;
  }
}
