@use "sass:math" as math;
@use "./shared/styles/index" as *;

.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100dvh;
}

app-header,
app-navbar {
  flex: 0 0 auto;
}

// app-welcome {
//   flex: 1 0 auto;
// }
app-summary {
  flex: 1 0 auto;
}
