<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-pw-forgot></app-pw-forgot> -->
<!-- <app-pw-reset></app-pw-reset> -->
<!-- <app-welcome></app-welcome> -->
<!-- <app-summary></app-summary> -->
<!-- <app-testbox></app-testbox> -->
<!-- <app-add-task></app-add-task> -->
<!-- <app-contacts></app-contacts> -->
<!-- <app-add-contact-card></app-add-contact-card> -->
<!-- <app-edit-contact-card></app-edit-contact-card> -->
<!-- <app-legal-notice></app-legal-notice> -->

<router-outlet></router-outlet>
