@use "sass:math" as math;
@use "../shared/styles/index" as *;

@media (hover: none) {
  .hero__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100dvh;
  }

  app-header,
  app-navbar {
    flex: 0 0 auto;
  }

  app-summary {
    flex: 1 0 auto;
  }

  .main {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
  }
}
