@use "sass:color";
@use "sass:math";
@use "variables" as v;

// Join Logo
@mixin logo-size {
  height: v.$logo-size-height;
  width: v.$logo-size-width;
}

// Login User
@mixin user-size {
  height: v.$user-size;
  width: v.$user-size;
}

//  #### Signs ####
@mixin sign-size($multiply: 1) {
  height: v.$sign-size * $multiply;
  width: v.$sign-size * $multiply;
}

@mixin desktop-container {
  // max-width: 100vw;
  display: flex;
  flex-direction: column;
  padding-inline: 1.75rem;
  padding-block: 1rem;
}

// ## Mobile Container ##
@mixin mobile-container {
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: 1.75rem;
  padding-block: 1rem;
}

// ## Default Font ##
@mixin default_font {
  font-family: Inter;
  font-size: 1em;
  font-weight: 400;
}

// ## BUTTON FONT ##
@mixin btn__font {
  font-family: Inter;
  font-size: 1em;
  font-weight: 500;
}

// ##### BUTTON #####
@mixin btn {
  @include btn__font;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  min-height: 3rem;
  border: 0.0625rem solid v.$color-primary;
  cursor: pointer;
  padding-inline: 1rem;
  &:disabled {
    cursor: not-allowed;
  }
}

@mixin label {
  height: 1.75rem;
  width: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0 0 0.125rem v.$color-grey;
  color: v.$color-white;
  border-radius: 0.5rem;
}

.btn__primary {
  @include btn;
  background-color: v.$color-primary;
  color: v.$color-white;
  font-weight: 700;
  border: none;
  //width: 100%;
  &--small {
    @extend .btn__primary;
    width: v.$btn-size-small;
  }
  &--large {
    @extend .btn__primary;
    width: v.$btn-size-large;
    min-width: max-content;
  }
  &:hover {
    background-color: v.$color-primary-hover;
  }
  &:disabled {
    background-color: v.$color-grey;
  }
}

.btn__secondary {
  @include btn;
  background-color: v.$color-white;
  color: v.$color-primary;
  width: 100%;
  &--small {
    @extend .btn__secondary;
    width: v.$btn-size-small;
  }
  &--large {
    @extend .btn__secondary;
    width: v.$btn-size-large;
    max-width: 100%;
  }
  &:hover {
    background-color: v.$color-secondary;
  }
  &:disabled {
    background-color: v.$color-grey;
  }
}
