@use "sass:color";
@use "sass:math";
@import "variables.scss";
// Join Logo
@mixin logo-size {
  height: $logo-size-height;
  width: $logo-size-width;
}

// Login User
@mixin user-size {
  height: $user-size;
  width: $user-size;
}

//  #### Signs ####
@mixin sign-size($multiply: 1) {
  height: $sign-size * $multiply;
  width: $sign-size * $multiply;
}

// ##### BUTTONs #####
@mixin btn {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  min-height: 3rem;
  border: 0.0625rem solid $color-primary;
}

.btn__primary {
  @include btn;
  background-color: $color-primary;
  color: $color-white;
  font-weight: 700;
  border: none;
  width: 100%;
  &--small {
    @extend .btn__primary;
    width: $btn-size-small;
  }
  &--large {
    @extend .btn__primary;
    width: $btn-size-large;
  }
  &:hover {
    background-color: $color-primary-hover;
  }
}

.btn__secondary {
  @include btn;
  background-color: $color-white;
  color: $color-primary;
  width: 100%;
  &--small {
    @extend .btn__secondary;
    width: $btn-size-small;
  }
  &--large {
    @extend .btn__secondary;
    width: $btn-size-large;
  }
  &:hover {
    background-color: $color-secondary;
  }
}
