@use "sass:color";
@use "sass:math";
// Colors
$color-primary: #2a3647;
$color-primary-hover: #091931;
$color-white: #ffffff;
$color-secondary: #f6f7f8;
$color-grey: #d1d1d1;
// $color-link: #007cee;
$color-blue: #29abe2; // links
$color-red: #ff3d00;
$color-yellow: #ffa800;
$color-green: #7ae229;
// Heights
$header-size: 5rem;
// Sizes
$logo-size: math.div($header-size, 2);
$logo-size-width: math.div($header-size - math.div($header-size, 5), 2);
$logo-size-height: $logo-size;
$sign-size: 1.5rem;
$btn-size-small: 5.75rem;
$btn-size-large: 11.25rem;
$user-size: $logo-size;
