<section class="head__section">
  <return-btn class="return-btn" routerLink="/join/summary"></return-btn>
  <p class="head__description">Kanban Project Management Tool</p>
  <h2 class="head__title">Help</h2>
  <div class="head__dash"></div>
</section>
<article class="article">
  <h2>What is Join?</h2>
  <p>
    The Angular project "Join" is a simplified version of a Kanban board that
    allows users to create tasks (tickets) and manage contacts by creating,
    editing, and deleting them. The main objective of the project is to provide
    a clear and user-friendly platform where users can efficiently manage their
    tasks and contacts.
  </p>
  <br />
  <p>
    The Kanban board is divided into different categories to represent the
    status of the tasks. These categories can be customized according to the
    user's requirements. For example, the categories could be "To Do," "In
    Progress," and "Done." Users have the ability to drag and drop tasks from
    one category to another, updating the tasks' current status.
  </p>
  <br />
  <p>The functionalities of the "Join" project include:</p>
</article>
<article class="steps">
  <ol>
    <li>
      <h4>Task Management:</h4>
      <ul class="steps">
        <li>
          Creation of new tasks with relevant information such as title,
          description, priority, etc.
        </li>
        <li>Displaying an overview of all created tasks with their details.</li>
        <li>
          Editing tasks to add updated information or modify existing
          information.
        </li>
        <li>Deleting tasks when they are completed or no longer relevant.</li>
      </ul>
    </li>
    <li>
      <h4>Contacts:</h4>
      <ul class="steps">
        <li>
          Creating contacts with relevant information such as name, email, phone
          number, etc.
        </li>
        <li>Displaying a list of all existing contacts with their details.</li>
        <li>
          Editing contacts to add updated information or modify existing
          information.
        </li>
        <li>Deleting contacts if they are no longer needed.</li>
      </ul>
    </li>
    <li>
      <h4>Status Update through Drag & Drop:</h4>
      <ul class="steps">
        <li>
          Users can move tasks by dragging and dropping them from one category
          to another, updating their status.
        </li>
        <li>
          A visual representation of the categories and the current position of
          the tasks within the Kanban board facilitates status tracking.
        </li>
      </ul>
    </li>
  </ol>
</article>
<article>
  The Angular project "Join" offers a user-friendly interface and interactive
  features to simplify task and contact management. It is designed to provide a
  straightforward and intuitive Kanban board experience to enhance workflow and
  productivity.
</article>
