<section class="head__section">
  <return-btn class="return-btn" routerLink="/"></return-btn>
  <p class="head__description">Kanban Project Management Tool</p>
  <h2 class="head__title">Help</h2>
  <div class="head__dash"></div>
</section>
<article class="article">
  <h2>What is Join?</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ad veniam,
    perferendis, blanditiis quia laborum aut adipisci ipsam qui dignissimos
    enim. Inventore, molestiae? Hic error similique vitae. Praesentium,
    doloribus consequuntur.
  </p>
</article>
<article class="steps">
  <ol>
    <li>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam tenetur
        sapiente aspernatur.
      </p>
    </li>
    <li>
      <p>
        Omnis aperiam quibusdam repellendus impedit aut voluptate itaque ipsam
        enim.
      </p>
    </li>
    <li>
      <p>
        Voluptate iure asperiores mollitia sapiente vitae, magnam doloremque?
      </p>
    </li>
  </ol>
</article>
