:host {
  background-color: whitesmoke;
  border-radius: 8px;
  border: black solid 1px;
  padding: 1rem;
  margin-block: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.category {
  text-align: center;
  width: 5rem;
  background-color: tomato;
  border-radius: 1rem;
  border: 0.125rem solid grey;
}

.headline {
}

.desc {
  text-align: left;
  color: grey;
}
