<main class="main">
  <!-- Header Contant -->
  <section class="head__section">
    <p class="head__description">Kanban Project Management Tool</p>
    <h2 class="head__title">Summary</h2>
    <p class="head__comment">Everything in a nutshell!</p>
    <div class="head__dash"></div>
  </section>
  <!-- Summary Content -->
  <section class="content">
    <!-- ROW 1 -->
    <div class="content__row">
      <!-- BOX -->
      <div class="box">
        <span>5</span>
        <span>Task in Board</span>
      </div>
      <!-- BOX -->
      <div class="box">
        <span>2</span>
        <span>Task in Progress</span>
      </div>
      <!-- BOX -->
      <div class="box">
        <span>2</span>
        <span>Awaiting feedback</span>
      </div>
    </div>
    <!-- ROW 2 -->
    <div class="content__row">
      <div class="box">
        <div>
          <!-- svg prio -->
          <img src="" alt="prio" />
        </div>
        <div>
          <span>1</span>
          <span>Urgent</span>
        </div>
        <div>dash</div>
        <div>
          <span>18 Oktober 2022</span>
          <span>Upcoming Deadline</span>
        </div>
      </div>
    </div>

    <!-- ROW 3 -->
    <div class="content__row">
      <!-- Box -->
      <div class="box">
        <div>
          <!-- svg pen -->
          <img src="" alt="edit" />
        </div>
        <div>
          <span>1</span>
          <span>To-do</span>
        </div>
      </div>
      <!-- Box -->
      <div class="box">
        <div>
          <!-- svg check -->
          <img src="" alt="check" />
        </div>
        <div>
          <span>1</span>
          <span>Done</span>
        </div>
      </div>
    </div>
  </section>
</main>
