@use "../../shared/styles/index" as *;

@media (hover: none) {
  :host {
    @include mobile-container;
    flex-grow: 1;
  }
  // HEAD
  .head__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 0;
  }
  .head__description {
  }
  .head__title {
    font-size: 3rem;
    font-weight: 700;
  }
  .head__comment {
  }
  .head__dash {
    height: 3px;
    background-image: linear-gradient(90deg, $color-blue 20%, transparent 20%);
  }
  // CONTENT
  .content {
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
  }

  .sign {
    color: inherit;
    @include sign-size(1);
  }
  .counter {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
  }
  .date {
    text-align: center;
    font-weight: 700;
  }
  .description {
    text-align: center;
    font-size: 0.85rem;
    color: inherit;
  }
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .box {
    height: 100%;
    width: 100%;
    border-radius: 1.25rem;
    color: $color-primary;
    background-color: $color-white;
    padding-inline: 1rem;
    @media screen and (max-width: 350px) {
      padding-inline: 0.5rem;
    }
    &:hover {
      transition: all 125ms ease-in-out;
      background-color: $color-primary;
      color: $color-white;
      .sign-container {
        background-color: $color-white;
        color: $color-primary;
      }
    }
  }
  .row__top {
    height: 7rem;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .row__mid {
    height: 7rem;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr 2fr;
  }
  .row__bot {
    height: 7rem;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .sign-container {
    background-color: $color-primary;
    color: $color-white;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dash {
    height: 100%;
    width: 0.25rem;
    background-image: linear-gradient(
      0deg,
      transparent 0%,
      transparent 15%,
      $color-grey 15%,
      $color-grey 85%,
      transparent 85%,
      transparent 100%
    );
  }
}

.low {
  background-color: $proi-low;
}

.medium {
  background-color: $prio-mid;
}

.high {
  background-color: $prio-high;
}
