@use "sass:math" as math;
@import "../../shared/styles/variables";
@import "../../shared/styles/mixin";
@media (hover: hover) {
  .nav {
    background-color: $color-primary;
    color: $color-grey;
    height: 100%;
    // width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem 0rem 2rem 1rem;
  }

  .nav__list {
    list-style: none;
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  .nav__list-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    width: 100%;
    transition: all ease-in-out 225ms;
    &:hover {
      transition: all ease-in-out 225ms;
      background-color: $color-primary-hover;
      color: $color-secondary;
      .nav__list-icon {
        fill: $color-secondary;
      }
    }
  }

  .active {
    transition: all ease-in-out 225ms;
    background-color: $color-primary-hover;
    color: $color-secondary;
    .nav__list-icon {
      fill: $color-secondary;
    }
  }

  .nav__list-icon {
    @include sign-size(1.5);
    fill: $color-grey;
  }

  .link {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: $color-grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
