@use "sass:math" as math;
@use "../../shared/styles/index" as *;

@media (hover: none) {
  .nav {
    background-color: $color-primary;
    color: $color-grey;
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 1.75rem;
  }

  .nav__list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  .nav__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 5rem;
    min-width: 4.5rem;
    height: 5rem;
    &:hover {
      background-color: $color-primary-hover;
      color: $color-secondary;
      .nav__list-icon {
        fill: $color-secondary;
      }
    }
  }

  .nav__list-icon {
    @include sign-size(1.5);
    fill: $color-grey;
  }

  .active {
    transition: all ease-in-out 225ms;
    background-color: $color-primary-hover;
    color: $color-secondary;
    .nav__list-icon {
      fill: $color-secondary;
    }
  }

  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $color-grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
